.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    overflow: hidden;
}
.home__row{
    display:flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
.home__middlerow{
    display:flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
}
.home__motionmiddlerow{
    display: flex;
    flex-basis: 33.3333%;
    width: 100%;
}
.home__motionrow{
    display: flex;
    width: 100%;
}

.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0
    ,0,1), rgba(0,0,0,0));
   
 }
 /*
.home__leftArrowStyles{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 32px;
        z-index: 1;
        cursor: pointer;
        color:#fff;
}
.home__SlideArrow{
    font-size: 100px;
    font-weight: lighter;
    
}
.home__rightArrowStyles{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    color:#fff;
    z-index: 1;
    cursor: pointer;
} */